/*Fonts*/
$font-fam: 'Nunito', sans-serif;
$base-font-size: 14px;
.italic {
	font-style: italic;
}
.bold {
	font-weight: 700;
}

/*Colors*/
$textcolor: #7B7575;
$orange: #E58047;
$teal: #3AA28D;
$blue: #2E4452;
$lightgray: #F4F4F4;
$white: #fff;
.orange {
	color: $orange;
}
.blue {
	background-color: $blue;
}
.white {
	color: $white;
}

/*Flexbox rules*/
.flex-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
     min-height: 100vh;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 28%;
            flex: 1 0 28%;
    @media screen and (max-width: 690px) {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 90%;
                flex: 1 0 90%;
    }
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.fullwidth {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
    text-align: center;
}

.j-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*Layout Elements*/
body {
	font-family: $font-fam;
	font-size: $base-font-size;
	color: $textcolor;
    background-color: $teal;
}

a {
	text-decoration: none;
}

header {
	background-color: $lightgray;
    padding: 30px 10%;
    font-size: ($base-font-size * 2.5);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    span {
    	color: $orange;
	    text-align: center;
    	line-height: 0.8;
    	.fa {
		    margin-right: 12px;
    	}
    }
    a {
	    text-align: center;
    }
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

form {
	.btn {
		font-family: $font-fam;
		width: 287px;
		margin-top: 25px;
	    line-height: 1;
	}
	label {
	    width: 100%;
	    display: block;
	    text-align: left;
	    padding: 5px  0;
	    color: $white;
	    font-size: ($base-font-size * 1.2);
	    line-height: 1.5;
	    font-weight: 700;
	}
	input,
	select {
		width: 280px;
		height: 40px;
		background-color: $white;
		font-family: $font-fam;
		border-radius: 7px;
		color: $blue;
	}
	input {	
	    border: 0;
	    outline: none;
	    padding-left: 7px;
	}
	select {
	    border: 0;
	    width: 287px;
	    outline: 0;
	}
}

h1 {
	font-size: ($base-font-size * 2.5);
	color: $blue;
	text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
}

.img-container {
	width: 80%;
    margin: 0 auto;
    padding: 50px 0;
	figure {
		margin: 10px;
		figcaption {
			text-align: center;
			color: $white;
			font-size: ($base-font-size * 1.2);
		    line-height: 1.1;
		    padding: 10px 5px;
		    .fa {
		    	font-size: $base-font-size;
		    }
		    p {
		    	margin: 7px;
		    }
		}
	}
	img {
		max-width: 100%;
	}
	 @media screen and (max-width: 480px) {
		width: 90%;
    }
}

.info-container {
    margin: 0 auto;
    padding: 50px 10%;
    color: $blue;
	background-color: $lightgray;
	text-align: center;
	font-size: ($base-font-size * 1.8);
    font-weight: 700;
}

.btn {
    text-decoration: none;
    color: $white;
    font-weight: 700;
    font-size: ($base-font-size * 1.5);
    padding: 10px 20px;
    background: $orange;
    border-radius: 10px;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover, &:focus {
    	background-color: $teal;
    }
}

footer {
	background-color: $blue;
	height: 60px;
	margin-top: 0;
}